.font{
    font-size: x-small;
    justify-content: center;
}

.rounded .list{
    text-decoration: none;
    
}

.rounded .list-group .list-group-item:hover{
background: blue;

}

.rounded .list-group .list-group-item{
   
    color:black;
    text-decoration: none;
    }
    
.rounded .list-group .list-group-item:focus{
   
        background-color: blueviolet !important;
        color: white;
        }
        

