.Regi{
    background-color: blue;
    width:100%;
    height: 600px;
    overflow-y:scroll;
    overflow-x: hidden;
    justify-content: center;
    font-size:normal;
    font-weight:normal; 
   
}

.forms{
    min-height: fit-content;
    margin:10%;
    width: 90%;
    justify-content: center;
}